*{
    background-color: #FFFEFB;
    font-family: steclo;
}
@font-face{
    font-family: "citrica";
    src:url('citricacyrillic.ttf');
}
@font-face{
    font-family: "steclo";
    src:url('Pepper\ Type\ -\ Steclo-ExtraLightItalic.otf') format('opentype');
}
@font-face{
    font-family: "vouger";
    src:url('Voguer Sans Bold.otf') format('opentype');
}
@font-face {
    font-family: "vougeritalic";
    src:url('voguersansbolditalic.otf') format('opentype')
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E97700;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #e97700;
    box-sizing: border-box;
    padding: 0 20px;
}
.title-container {
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: row;
    font-family: vouger;
}
.sub_header{
    font-family: citrica;
    font-size: 30px;
    color:#ffb703;
}
.highlight {
    font-family: vougeritalic;
}
.special-spacing {
    font-family: vouger;
    letter-spacing: 5%;
}
.help {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px;
}
.help button{
    border:none;
    background-color: none;
}
#popover {
       width: 40%;
       height: 80%;
       overflow: auto;
       padding: 20px;
       font-size: 34px;
       border: 5px solid #2671bc;
       border-radius: 10px;
       background-color: #FFFEFB;
       position: absolute;
       left: 52%;
       top: 8%;
}


.condition{
    font-family: inherit;
    font-size:20px;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    color:#030206;
}
.condition::first-letter{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 0.8;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    width: 96%;
}

.animation, .condition, .form {
    padding: 10px;
    margin-bottom: 20px;
}

.animation {
    flex: 1.5;
    padding: 20px;
}
.condition {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    margin-top: 4.2%;
}

.buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    width: 100%;
}

.buttons button{
    height: 36px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #2671bc;
    color: #FFFEFB;
    font-family: vouger;
    font-size: 16px;
    text-align: center;
}

.buttons button:hover{
    background-color: #1F5F9E;
}

.dump_button, .start_button, .reset_button, .stop_button {
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.graphs_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.graph {
    padding: 10px;
}

.graph h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.form {
    flex: 1 1 50%;
    max-width: calc(50% - 20px);
    padding: 20px;
    box-sizing: border-box;
}

#show-answer-button {
    height: 36px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #2671bc;
    color: #FFFEFB;
    font-family: vouger;
    font-size: 16px;
    text-align: center;
}

#show-answer-button, #correct-answers {
    margin-left: 25px;
}

.error-message {
    color: red
}

.success-message {
    color: green
}
