wheel {
            fill: #333; /* Цвет колес */
        }
        .sand {
            fill: #deb887; /* Цвет песка */
        }
        .cart {
            fill: none; /* Без фона */
            stroke: #ffcc00; /* Цвет границ */
            stroke-width: 5; /* Толщина границ */
        }