wheel {
            fill: #2671bc; /* Цвет колес */
        }
        .sand {
            fill: #ffb703; /* Цвет песка */
        }
        .cart {
            fill: none; /* Без фона */
            stroke: #2671bc; /* Цвет границ */
            stroke-width: 5; /* Толщина границ */
        }
