.wheel {
            fill:  #e97700; /* Цвет колес */
        }
        .sand {
            fill: #ffb703; /* Цвет песка */
        }
        .cart {
            fill: none; /* Без фона */
            stroke:  #e97700;; /* Цвет границ */
            stroke-width: 5; /* Толщина границ */
        }
